---
import type { CollectionEntry } from "astro:content"
import TagItem from "./TagItem.astro"
import ButtonLink from "./ButtonLink.astro"
import { formatDate } from "../ts/utils"

interface Props {
    project: CollectionEntry<"projects">
}

const { project } = Astro.props
const { title, tags, date } = project.data
---

<tr class="bg-zinc-900 border-b border-gray-700">
    <th scope="row" class="px-2 py-4">{formatDate(date)}</th>
    <td class="px-6 py-4 text-center font-medium text-white">{title}</td>
    <td class="px-4 py-4 hidden md:flex md:flex-wrap">
        {tags.map((tag) => <TagItem name={tag} />)}
    </td>
    <td class="px-4 py-4 text-center">
        <ButtonLink href={`${import.meta.env.BASE_URL}/projects/${project.slug}`}>Info</ButtonLink>
    </td>
</tr>
