---
import { Icon } from "astro-icon/components"
import type { CollectionEntry } from "astro:content"
import { formatDate } from "../ts/utils"

interface Props {
    experience: CollectionEntry<"experience">
}

const { experience } = Astro.props
const { title, desc, role, startDate, endDate, type } = experience.data

const icon : string = type + "-outline"

---
<li class="mb-10 ms-6">
    <span
        class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-zinc-900 bg-zinc-900 border-teal-400 border"
    >
        <Icon name={icon} size={14} class="text-teal-400" />
    </span>
    <h3 class="mb-1 text-lg font-semibold text-white">{title} - {role}</h3>
    <time class="block mb-2 text-sm leading-none text-teal-400"
        >{formatDate(startDate)} - {endDate != null ? formatDate(endDate) : "Nu"}</time
    >
    <p class="text-base text-gray-400">{desc}</p>
</li>
