---
import { Image } from "astro:assets"
import ExternalLink from "../components/ExternalLink.astro"
import PageLayout from "./PageLayout.astro"
import type { CollectionEntry } from "astro:content"

interface Props {
    project: CollectionEntry<"projects">
}

const { project } = Astro.props
const { title, githubLink, livedemoLink, banner } = project.data
---

<PageLayout title={title}>
    <section class="prose max-w-none prose-invert mb-16">
        {banner && <Image src={banner.image} class="border border-teal-400 hidden md:block" alt={banner.alt} />}
        <div class="flex flex-col">
            <ExternalLink href={githubLink} class="text-2xl" iconName="logos/github">Github</ExternalLink>
            {livedemoLink && <ExternalLink href={livedemoLink} iconName="demo" class="text-2xl">Live Demo</ExternalLink>}
        </div>
        <slot />
    </section>
</PageLayout>
